<% if current_user.admin? %>

<div class="container1 col-sm-10">

<h1>CallbackEnds#index</h1>

<p> <a href= "callbackends/new" class="btn btn-primary"> Creer un nouveau callbackend</a></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Transid</th>
      <th scope="col">Numero</th>
      <th scope="col">Formule</th>
      <th scope="col">Duree</th>
      <th scope="col">Endtime</th>
      <th scope="col">Starttime</th>
    </tr>
  </thead>
  <tbody>
    <%= paginate @callbackends %>
    <% @callbackends.each do |callbackend| %>

      <tr>
        <th scope="row"><%= callbackend.id%></th>
        <td><%= callbackend.transid%></td>
        <td><%= callbackend.numero%></td>
        <td><%= callbackend.formule%></td>
        <td><%= callbackend.duree%></td>
        <td><%= callbackend.endtime%></td>
        <td><%= callbackend.starttime%></td>
      </tr>
      <% end %>
  </tbody>
</table>

</div>

<% else %>

<% end %>
