


<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>

<!--ici commence l'interieur du toggl -->
      <p class="text-muted"><div class="navbar-categories ">
    <ul class="navbar-categories-list navbar-nav mr-auto">

      <% @lescategories.each do |categorie| %>
      <li classe="catego ">
        <%= link_to "#{categorie.name}", "/productsby/#{categorie.id}" %>
      </li>
      <% end %>

      <li>
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Autres categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <% @toutescategories.each do |categorie| %>
              <button class="dropdown-item" href="/productsby/<%= categorie.id %>"><%= categorie.name %></button>
              <% end %>
  </div>
</div>
      </li>
    </ul>
  </div></p>

<!-- ici fini le contenue du toggle -->

    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<!-- navbar classique
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/products", class: "navbar-brand" do %>
    <%= image_tag "logo.png"%>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="navbar-categories ">
    <ul class="navbar-categories-list navbar-nav mr-auto">

      <% @lescategories.each do |categorie| %>
      <li classe="catego ">
        <%= link_to "#{categorie.name}", "/productsby/#{categorie.id}" %>
      </li>
      <% end %>

      <li>
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Autres categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <% @toutescategories.each do |categorie| %>
              <button class="dropdown-item" href="/productsby/<%= categorie.id %>"><%= categorie.name %></button>
              <% end %>
  </div>
</div>
      </li>
    </ul>
  </div>






  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>


        <li class="nav-item ">
          <%= link_to  "/carts/#{session[:cart_id]} " do %>
          <%= image_tag "shopping-cart.png" %>
          <% end %>
        </li>

        <li class="nav-item dropdown">
          <%= image_tag "hamburger.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "creer un produit", "products/new", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
fin de la navbar classique-->
