


<div class="pos-f-t container">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4 " >


  <div class="headernavbar">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <div class="row col-sm-12">
           <div class="headernavbarelement col-sm-6"><h3> Bienvenu a toi <%= current_user.name%> </h3></div>
           <div class="headernavbarelement col-sm-6"><h3><%= link_to "Zone Admin", "/zoneadmin" %><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></h3></div>
        </div>
      <% else %>
        <p> Bienvenu a toi <%= current_user.name%> <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></p>
      <% end %>
    <%else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end%>
  </div>


      <div class="row col-sm-12">

        <% @lescategories.each do |categorie| %>

          <div class="navbar1 navbarcol col-sm-2">
            <h2> <%= link_to "#{categorie.name}", "/productsby/#{categorie.id}" %> </h2>
            <ul>
              <li><%= categorie.products[1]%></li>
              <li><%= categorie.products[2]%></li>
              <li><%= categorie.products[3]%></li>
              <li><%= categorie.products[4]%></li>
              <li><%= categorie.products[5]%></li>
            </ul>
          </div>


        <%end%>
      </div>




<!-- ici fini le contenue du toggle -->

    </div>
  </div>

  <nav class="navbar navbar-dark bg-dark">
    <a href="/"><%= image_tag "logo2.png" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
