


<div class="pos-f-t container">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4 " >


      <div class="row col-sm-12">



              <div class="navbar1 navbarcol col-sm-2">
                <% if user_signed_in? %>
                  <% if current_user.admin? %>
                    <h2> Bonjour  <%= current_user.name%> </h2>
                    <ul>
                      <li><%= link_to "Zone Admin", "/zoneadmin", class: "dropdown-item" %></li>
                      <li><%= link_to "mes infos", "/Userdashboard", class: "dropdown-item" %></li>
                      <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                      <li><%= link_to "Audiotel", "/audiotel", class: "dropdown-item" %></li>


                    </ul>

                  <% else %>

                    <h2> Bonjour  <%= current_user.name%> </h2>
                    <ul>
                      <li><%= link_to "mes infos", "/Userdashboard", class: "dropdown-item" %></li>
                      <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                      <li><%= link_to "Audiotel", "/audiotel", class: "dropdown-item" %></li>

                    </ul>

                  <% end %>
                <%else %>
                  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                <% end%>
              </div>



        <% @lescategories.each do |categorie| %>

          <div class="navbar1 navbarcol col-sm-2">
            <h2> <%= link_to "#{categorie.name}", "/productsby/#{categorie.id}" %> </h2>
            <ul>
              <% @index = 0 %>
              <% (categorie.products.count).times do %>

              <li><%= link_to "#{Product.where(categorie_id: categorie.id)[@index].title}", "/products/#{Product.where(categorie_id: categorie.id)[@index].id}" %></li>
              <% @index = @index + 1%>
             <%end%>

            </ul>
          </div>


        <%end%>
      </div>




<!-- ici fini le contenue du toggle -->

    </div>
  </div>

  <nav class="navbar navbar-dark bg-dark">
    <a href="/"><%= image_tag "Slasherlogo2.png" %></a>
    <button class="btn btn-warning audio-btn"><%= image_tag "smartphone.png" %><%= link_to "Codes Alchis", "/audiotel" %></button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
