


<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>


<!--ici commence l'interieur du toggl -->

        <%= link_to "Zone Admin", "zoneadmin" %>



      <h3> Categories </h3>
      <p class="text-muted columns "><div class="navbar-categories ">
    <ul class="navbar-categories-list navbar-nav mr-auto ">

      <% @lescategories.each do |categorie| %>
      <li classe="catego ">
        <%= link_to "#{categorie.name}", "/productsby/#{categorie.id}" %>
      </li>
      <% end %>

      <li>
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Autres categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <% @toutescategories.each do |categorie| %>
              <button class="dropdown-item" href="/productsby/<%= categorie.id %>"><%= categorie.name %></button>
              <% end %>
  </div>
</div>
      </li>
    </ul>
  </div></p>

<!-- ici fini le contenue du toggle -->

    </div>
  </div>

  <nav class="navbar navbar-dark bg-dark">
    <%= image_tag "logo2.png" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
