
<h2> Liste des commandes validées: </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">state</th>
      <th scope="col">amount_cents</th>
      <th scope="col">checkout_session_id</th>
      <th scope="col">user_id</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
      <th scope="col">product_sku</th>
      <th scope="col">product_id</th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @ordersvalidé %>
    <% @ordersvalidé.each do |order| %>
    <tr>
      <th scope="row"><%= order.id%></th>
      <td><%= order.state%></td>
      <td><%= order.amount_cents%></td>
      <td><%= order.checkout_session_id%></td>
      <td><%= order.user_id%></td>
      <td><%= order.created_at%></td>
      <td><%= order.updated_at%></td>
      <td><%= order.product_sku%></td>
      <td><%= order.product_id%></td>

    </tr>

    <% end %>

  </tbody>
</table>




<h2> Liste des commandes a verifier: </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">state</th>
      <th scope="col">amount_cents</th>
      <th scope="col">checkout_session_id</th>
      <th scope="col">user_id</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
      <th scope="col">product_sku</th>
      <th scope="col">product_id</th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @ordersenverif %>
    <% @ordersenverif.each do |order| %>
    <tr>
      <th scope="row"><%= order.id%></th>
      <td><%= order.state%></td>
      <td><%= order.amount_cents%></td>
      <td><%= order.checkout_session_id%></td>
      <td><%= order.user_id%></td>
      <td><%= order.created_at%></td>
      <td><%= order.updated_at%></td>
      <td><%= order.product_sku%></td>
      <td><%= order.product_id%></td>

    </tr>

    <% end %>

  </tbody>
</table>


<h2> Liste des commandes payées: </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">state</th>
      <th scope="col">amount_cents</th>
      <th scope="col">checkout_session_id</th>
      <th scope="col">user_id</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
      <th scope="col">product_sku</th>
      <th scope="col">product_id</th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @orderspaid %>
    <% @orderspaid.each do |order| %>
    <tr>
      <th scope="row"><%= order.id%></th>
      <td><%= order.state%></td>
      <td><%= order.amount_cents%></td>
      <td><%= order.checkout_session_id%></td>
      <td><%= order.user_id%></td>
      <td><%= order.created_at%></td>
      <td><%= order.updated_at%></td>
      <td><%= order.product_sku%></td>
      <td><%= order.product_id%></td>

    </tr>

    <% end %>

  </tbody>
</table>



<h2> Liste des commandes en attente: </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">state</th>
      <th scope="col">amount_cents</th>
      <th scope="col">checkout_session_id</th>
      <th scope="col">user_id</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
      <th scope="col">product_sku</th>
      <th scope="col">product_id</th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @orderspending %>
    <% @orderspending.each do |order| %>
    <tr>
      <th scope="row"><%= order.id%></th>
      <td><%= order.state%></td>
      <td><%= order.amount_cents%></td>
      <td><%= order.checkout_session_id%></td>
      <td><%= order.user_id%></td>
      <td><%= order.created_at%></td>
      <td><%= order.updated_at%></td>
      <td><%= order.product_sku%></td>
      <td><%= order.product_id%></td>

    </tr>

    <% end %>

  </tbody>
</table>

<h2> Liste des commandes livrées: </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">state</th>
      <th scope="col">amount_cents</th>
      <th scope="col">checkout_session_id</th>
      <th scope="col">user_id</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
      <th scope="col">product_sku</th>
      <th scope="col">product_id</th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @orderslivré %>
    <% @orderslivré.each do |order| %>
    <tr>
      <th scope="row"><%= order.id%></th>
      <td><%= order.state%></td>
      <td><%= order.amount_cents%></td>
      <td><%= order.checkout_session_id%></td>
      <td><%= order.user_id%></td>
      <td><%= order.created_at%></td>
      <td><%= order.updated_at%></td>
      <td><%= order.product_sku%></td>
      <td><%= order.product_id%></td>

    </tr>

    <% end %>

  </tbody>
</table>

<h2> Liste des commandes tous status(<%= @orders.count%>): </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">state</th>
      <th scope="col">amount_cents</th>
      <th scope="col">checkout_session_id</th>
      <th scope="col">user_id</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
      <th scope="col">product_sku</th>
      <th scope="col">product_id</th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @orders %>
    <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id%></th>
      <td><%= order.state%></td>
      <td><%= order.amount_cents%></td>
      <td><%= order.checkout_session_id%></td>
      <td><%= order.user_id%></td>
      <td><%= order.created_at%></td>
      <td><%= order.updated_at%></td>
      <td><%= order.product_sku%></td>
      <td><%= order.product_id%></td>

    </tr>

    <% end %>

  </tbody>
</table>
