<div class="container col-sm-10">
  <h1> Mon compte</h1>


  <div class=" userdata">


      <h2> Mes infos: </h2>
        <p> nom: <%= current_user.name %> </p>
        <p> prenom: <%= current_user.firstname %></p>
        <p> mail: <%= current_user.email %> </p>
        <p> CP: <%= current_user.cp %> </p>



                <div><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              changer le mot de passe
            </button></div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">changement mdp</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>




  </div>

   <div class="userorders">
        <h2> Mes commandes:</h2>
      <div class="col-md-12" style="background-color: white;">
      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">montant</th>
      <th scope="col">date</th>
      <th scope="col">produit</th>
      <th scope="col">status</th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @orders %>
    <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id%></th>
      <td><%= order.amount_cents%></td>
      <td><%= order.created_at%></td>
      <td><%= @products.find_by_id(order.product_id).title%></td>
      <td><%= order.state%></td>
    </tr>

    <% end %>

  </tbody>
</table>
</div>


</div>

<div class=" userCoupons">
        <h2> Mes Alchi-Coupons:</h2>
        <div class="col-md-12" style="background-color: white;">
      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">code</th>
      <th scope="col">valeure</th>
      <th scope="col">date creation</th>
      <th scope="col">date validité</th>
      <th scope="col">status</th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @codes_promos_user %>
    <% @codes_promos_user.each do |code| %>
    <tr>
      <th scope="row"><%= code.id%></th>
      <td><%= code.code%></td>
      <td><%= code.value%></td>
      <td><%= code.created_at%></td>
      <td><%= code.valid_until%></td>
      <td><%= code.status%></td>
    </tr>

    <% end %>

  </tbody>
</table>
</div>




  </div>


</div>


