<h1> dashboard user </h1>
<div class="container col-sm-12">

  <div class="row userdata">
    <h2> Mes infos </h2>
    <div>
        <p> nom: <%= current_user.name %> </p>
        <p> prenom: <%= current_user.firstname %></p>
        <p> mail: <%= current_user.email %> </p>
        <p> CP: <%= current_user.cp %> </p>
        <p> CP: <%= current_user.created_at %> </p>


                <div><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              changer le mot de passe
            </button></div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">changement mdp</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
    </div>



  </div>

   <div class="row userorders">

      <div class="cards col-sm-10">
        <h2> Mes commandes:</h2>
        <% @orders.each do |order| %>
          <div class="cardorder col-sm-12 row">
            <div class="col1 col-sm-5">
              <h3 class="card-text">Commande no <%= order.id %></h3>
              <p class="card-text">montant:<%= order.amount_cents%>€</p>
            </div>
            <div class="col2 col-sm-5">
              <p class="card-text">date:<%= order.created_at%></p>
              <p class="card-text">produit: <%= order.product_id%></p>
              <p class="card-text">status: <%= order.state%></p>
            </div>
          </div>
        <%end %>
      </div>

      <div class="cards col-sm-10">
        <h2> Mes codes_promo:</h2>
        <% @codes_promos_user.each do |code| %>

            <div class="col1 col-sm-5">
              <p class="card-text">Code: <%= code.code %></p>
              <p class="card-text">montant:<%= code.value%>€</p>
            </div>

        <%end %>
      </div>



  </div>














</div>


