<% if current_user.admin? %>

<div class="container1 col-sm-10">

<h1>Callbacksstart#index</h1>

<p> <a href= "callbackstarts/new" class="btn btn-primary"> Creer un nouveau callbackstart</a></p>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Transid</th>
      <th scope="col">Formule</th>
      <th scope="col">Starttime</th>
      <th scope="col">Code</th>
      <th scope="col">Numeros</th>
      <th scope="col">Callernum</th>
    </tr>
  </thead>
  <tbody>
    <%= paginate @callbackstarts %>
    <% @callbackstarts.each do |callbackstart| %>
      <tr>
        <th scope="row"><%= callbackstart.id%></th>
        <td><%= callbackstart.transid%></td>
        <td><%= callbackstart.formule%></td>
        <td><%= callbackstart.starttime%></td>
        <td><%= callbackstart.code%></td>
        <td><%= callbackstart.numero%></td>
        <td><%= callbackstart.callernum%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% else %>

<% end %>
