




 <%= simple_form_for @product do |f| %>
        <div class="label">Titre</div>
        <div class="typo"> <%= f.input :title, label: false %> </div>
        <div class="label">Sous-titre</div>
        <div class="typo"> <%= f.input :subtitle, label: false %> </div>
        <div class="label">description</div>
        <div class="typo"> <%= f.input :description, label: false %> </div>
        <div class="label">price</div>
        <div class="typo"> <%= f.input :price_cents, label: false %> </div>

        <div class="label">zone_id</div>
        <div class="typo"> <%= f.input :zone_id, collection: @zones , label: false %> </div>
        <div class="label">categorie_id</div>
        <div class="typo"> <%= f.input :categorie_id, collection: @categories , label: false %> </div>

         <div class="label">sku</div>
        <div class="typo"> <%= f.input :sku, label: false %> </div>

        <%= f.input :photo, as: :file%>


    <%= f.button :submit %>

  <%end %>
