

<%= form_for(@product) do |f| %>

<div class="form-group">
<label> Nom du produit </label>
<%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
<label> description du produit</label>
<%= f.text_field :subtitle, class: 'form-control' %>
</div>

<div class="form-group">
<label> description </label>
<%= f.text_area :description, class: 'form-control' %>
</div>

<div class="form-group">
<label> price </label>
<%= f.text_field :price, class: 'form-control' %>
</div>

<div class="form-group">
<label> categorie_id</label>
<%= f.text_area :categorie_id, class: 'form-control' %>
</div>

<div class="form-group">
<label> zone_id </label>
<%= f.text_field :zone_id, class: 'form-control' %>
</div>


<div class="form-group">
<button type="submit" class="btn btn-primary"> creer </button>
</div>

<% end %>







 <%= simple_form_for @product do |f| %>
        <div class="label">Titre</div>
        <div class="typo"> <%= f.input :title, label: false %> </div>
        <div class="label">Sous-titre</div>
        <div class="typo"> <%= f.input :subtitle, label: false %> </div>
        <div class="label">description</div>
        <div class="typo"> <%= f.input :description, label: false %> </div>
        <div class="label">price</div>
        <div class="typo"> <%= f.input :price, label: false %> </div>

        <div class="label">zone_id</div>
        <div class="typo"> <%= f.input :zone_id, collection: @zones , label: false %> </div>
        <div class="label">categorie_id</div>
        <div class="typo"> <%= f.input :categorie_id, label: false %> </div>


        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

    <%= f.button :submit %>

  <% end %>

<div class="form-group">
<select name="categorie_id" value="<%= @product.categorie_id %>" >
    <% @categories.each do |categorie| %>
      <option value="<%= categorie.id%>"> <%=categorie.name %> </option>
    <% end %>
  </select>
</div>


<div class="form-group">
<select name="zone_id" value="<%= @product.zone_id %>">
    <% @zones.each do |zone| %>
      <option value="<%= zone.id%>"> <%=zone.name %> </option>
    <% end %>
  </select>
</div>

<select name="categorie_id" value="<%= @product.categorie_id %>" >
          <% @categories.each do |categorie| %>
            <option value="<%= categorie.id%>"> <%=categorie.name %> </option>
            <% end %>
        </select>

         <select name="zone_id" value="<%= @product.zone_id %>">
          <% @zones.each do |zone| %>
            <option value="<%= zone.id%>"> <%=zone.name %> </option>
            <% end %>
        </select>
