

<div class="container slider-container col-sm-10">
    <div class="row">

      <div class="slider col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                  <li data-target="#carouselExampleControls" data-slide-to="2"></li>
              </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="http://www.asca-asso.com/wp-content/uploads/stage-jeux-videos.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://x7m7u8e3.stackpathcdn.com/wp-content/uploads/2018/02/jeux-vid%C3%A9o.jpg?iv=51" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://image.redbull.com/rbcom/010/2017-03-15/1331849502718_2/0012/0/34/0/898/1920/1250/1/yooka-laylee-nintendo-switch-jeu-inde.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

  <div class="cards">

    <% @les_produits.each do |un_produit| %>
    <div class="card " style="width: 16rem;">
      <a href="/products/<%= un_produit.id %>">
      <img src="https://www.gueez.com/panel/assets/img/coupons/psn/5.png" alt="image reduite du produit">
      </a>
      <div class="card-body">
        <h5 class="card-title"><a href="/products/<%= un_produit.id %>"><%= un_produit.title%></a></h5>
        <p class="card-price"><%= humanized_money_with_symbol(un_produit.price) %></p>

        <%= button_to "ajouter au panier", line_items_path(product_id: un_produit), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>


  </div>
  <p><%= paginate @les_produits %></p>


</div>




