<div class="container slider-container col-sm-10">

<div class="jumbotron jumbotron-fluid">
  <div class="container">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= Categorie.find(params[:id]).name %></li>
        </ol>
      </nav>

    <h1 class="display-4"> <%= Categorie.find(params[:id]).name %> </h1>
    <p class="lead"><%=Categorie.find(params[:id]).description%></p>
  </div>
</div>

  <div class="cards">

    <% @productby.each do |un_produit| %>
    <div class="card " style="width: 16rem;">
      <a href="/products/<%= un_produit.id %>">
      <%= cl_image_tag un_produit.photo,crop: :fill%>
      </a>
      <div class="card-body">
        <h5 class="card-title"><a href="/products/<%= un_produit.id %>"><%= un_produit.title%></a></h5>
        <p class="card-price"><%= un_produit.price%> €</p>
        <%= button_to "ajouter au panier", line_items_path(product_id: un_produit), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>


  </div>
  <p><%= paginate @productby %></p>


</div>




