<div class="container">

  <div class="row row1">
    <h1><%=@product.title%></h1>
  </div>

  <div class="row row2">
    <div class=" bloc-photo  ">
        <%= cl_image_tag @product.photo,crop: :fill%>
    </div>


    <div class="bloc-info " >

      <h2> <%= humanized_money_with_symbol(@product.price)%> </h2>
      <p class="conditions"> <i class="fas fa-shipping-fast"></i> Livraison instantanée par mail </p>
      <p class="conditions"> <i class="fas fa-boxes"></i> En stock </p>

      <%= button_to "Acheter", line_items_path(product_id:"#{@product.id}" ), class: "btn btn-primary btn-achat" %>


      <p class="subtitle"><%=@product.subtitle%></p>
      <p class="description"><%=@product.description%> </p>
    </div>
  </div>


  <div class="row row3">
    <div class ="suggestions">
      <h2> Suggestions</h2>
        <div class="cardsshow">

          <% @products.each do |un_produit| %>
            <div class="card " style="width: 16rem;">
              <a href="/products/<%= un_produit.id %>">
              <%= cl_image_tag un_produit.photo,crop: :fill%>
              </a>
              <div class="card-body">
                <h5 class="card-title"><a href="/products/<%= un_produit.id %>"><%= un_produit.title%></a></h5>
                <p class="card-price"><%= un_produit.price%> €</p>
                <%= button_to "ajouter au panier", line_items_path(product_id: un_produit), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>

  <div class="row row4">
    <% if current_user.admin? %>

        <h2>Modifier la carte</h2>

        <%= form_tag "/products/#{@product.id}", method: "patch" do %>
          <input type="text" name="title" value="<%= @product.title %>"/>
          <p><%= @product.errors[:title].first %></p>
          <input type="text" name="subtitle" value="<%= @product.subtitle %>"/>
          <input type="text" name="description" value="<%= @product.description %>"/>
          <input type="integer" name="price" value="<%= @product.price %>" />
          <input type="text" name="categorie_id" value="<%= @product.categorie_id %>" />
          <input type="text" name="zone_id" value="<%= @product.zone_id %>" />
          <input type="submit" value="modifier le produit" />
        <% end %>

        <%= form_tag "/products/#{@product.id}", method: "delete" do %>
          <input type="submit" value="Supprimer le produit" />
        <% end %>

    <% else %>

    <% end %>
  </div>
</div>
